<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.oms.dao.UmsPermissionMapper">
  <resultMap id="BaseResultMap" type="com.hd.oms.model.po.UmsPermission">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="PID" jdbcType="CHAR" property="pid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="URI" jdbcType="VARCHAR" property="uri" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="CHAR" property="createTime" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PID, NAME, DESCRIPTION, VALUE, URI, ICON, TYPE, STATUS, CREATE_TIME, SORT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from UMS_PERMISSION
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from UMS_PERMISSION
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.hd.oms.model.po.UmsPermission">
    insert into UMS_PERMISSION (ID, PID, NAME, DESCRIPTION, 
      VALUE, URI, ICON, TYPE, 
      STATUS, CREATE_TIME, SORT)
    values (#{id,jdbcType=CHAR}, #{pid,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{uri,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{status,jdbcType=CHAR}, #{createTime,jdbcType=CHAR}, #{sort,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.hd.oms.model.po.UmsPermission">
    insert into UMS_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="value != null">
        VALUE,
      </if>
      <if test="uri != null">
        URI,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="sort != null">
        SORT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hd.oms.model.po.UmsPermission">
    update UMS_PERMISSION
    <set>
      <if test="pid != null">
        PID = #{pid,jdbcType=CHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        VALUE = #{value,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        URI = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hd.oms.model.po.UmsPermission">
    update UMS_PERMISSION
    set PID = #{pid,jdbcType=CHAR},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      VALUE = #{value,jdbcType=VARCHAR},
      URI = #{uri,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=CHAR},
      SORT = #{sort,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>